Flask==3.1.0
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
psycopg[binary]==3.2.6
cryptography==46.0.1
gunicorn==23.0.0
waitress==3.0.0
edge-tts==7.2.8
